/* SELETOR UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    color: palevioletred;
}

/* SELETOR TAG */

h1 {
    color:blueviolet;
    margin-bottom: 20px;
}

/* SELETOR ATRIBUTO */
input[type="text"] {
    width: 200px;
    border: 2px double;
}
input[type="email"] {
    width: 200px;
    border: 2px double;
}

textarea[name="mensagem"] {
    width: 250px;
    border: 2px double;
}

input[type="submit"] {
    width: 50px;
    border: 2px double;
    background-color: white;
    cursor: pointer;
}

/* AGRUPAMENTO DE SELETORES */
h2, p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

/* SELETORES CLASS */
.container {
    margin-bottom: 20px;
}

.seletor-class {
    text-align: left;
}

.aquamarine {
    background-color: aquamarine;
    border: 2px dotted;
}

.powderblue {
    background-color: powderblue;
    border: 2px dashed;
}

/* SELETORES ID */

#seletor-id {
    background-color: papayawhip;
    border: 2px double;
}

#seletor-id h3 {
    text-align: center;
}

#seletor-id p {
    text-align: left;
}