body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
  }
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 14px;
  }
  h1, h2 {
    text-align: center;
  }
  
  .container {
    background-color: dodgerblue;
    display: flex;
    height: 200px;
    align-items: flex-start;
  }

  .container_column {
    background-color: brown;
    display: flex;
    height: 600px;
    align-items: flex-start;
  }
  
  .box {
    background-color: whitesmoke;
    border: 5px dotted palevioletred;
    width: 100px;
    height: 100px;
  }
  
  #row {
   flex-flow: row wrap;
  }
  
  #row-reverse {
    flex-flow: row-reverse wrap;
  }
  
  #column {
   flex-flow: column wrap;
  }
  
  #column-reverse {
   flex-flow: column-reverse wrap;
  }
  