body {
    border: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    text-align: center;
    display: block;
    font-size: 18px;
  }
  
  .container {
    height: 150px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
  }
  
  .box {
    height: 75px;
    width: 100px;
    background-color: dodgerblue;
    border: 1px solid lightgrey;
    display: inline-block;
  }
  
  #flexstart {
    display: flex;
    justify-content: flex-start;
  }
  
  #flexend {
    display: flex;
    justify-content: flex-end;
  }
  
  #center {
    display: flex;
    justify-content: center;
  }
  
  #spacearound {
    display: flex;
    justify-content: space-around;
  }
  
  #spacebetween {
    display: flex;
    justify-content: space-between;
  }
  