/* SELETOR UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo {
    background-color: pink;
    width: 300px;
    height: 100px;
    overflow: auto;
}

#conteudo p {
   opacity: 0.2;
}

#quadrado {
    background: lightblue;
    border-radius: 0;
    width: 100px;
    height: 100px;
}

#circulo {
    background: palevioletred;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.border {
    border-radius: 0px 200px 200px 200px;
    border: 100px solid pink;
    width: 100px;
    height: 100px;

}
