/* unvisited link */
a.visited_link:link {
    color: palevioletred;
}

/* visited link */
a.visited_link:visited {
    color: gray;
}

/* image hover */
img.example_hover:hover {
    border: dotted;
}

/* input hover */
input.example_focus:focus {
    color: red;
    background-color: lightpink;
}

/* selected link (active) */
a.active_link:active {
    color: black;
}